.grid {
    $grid-width: 100%;
    max-width: 80%;

    @extend .clearfix;

    width: ($grid-width);
    margin: 0 auto;/* to center the elements */

    /* background-color: lightgrey;
    outline: 2px solid cyan; */

    .unit {
      /*   background-color: turquoise;
      outline: 2px solid blue; */

        float: left;
        width: ($grid-width/5);

        padding-left: .5em;
        padding-right: .5em;
        box-sizing: border-box;
    /*     &:first-child {
        padding-left: 0; */
        }

    .unit_span_2 {
        @extend .unit;
        width: ($grid-width/5) * 2;
    }
    .unit_span_3 {
        @extend .unit;
        width: ($grid-width/5) * 3;
    }
    /* .offset-2 {
        margin-left: ($grid-width/5) * 2;
    } */
}
